name: "Web Build"

on:
  push:
    branches: [ "main" ]
    paths:
      - "web/**"
  workflow_dispatch:

defaults:
  run:
    working-directory: web

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Application Repository
        uses: actions/checkout@v4

      - name: Setup Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Lint
        run: cd web && pnpm lint
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # https://nodejs.org/en/about/releases/
        node-version: [24]
    steps:
      - name: Checkout Application Repository
        uses: actions/checkout@v4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build
        run: cd web && npm ci && pnpm build