# Dependencies
node_modules

# Build artifacts
dist

# Environment files
.env
.env.*.local

# Git
.git
.gitignore

# Documentation
README.md
CHANGELOG.md
LICENSE

# Logs
*.log
npm-debug.log*

# Testing
coverage
vitest.config.ts

# Docker
Dockerfile
.dockerignore
docker
bin/build

# Vite
.vite
vite.config.ts.timestamp-*

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
*~